<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <script defer src="{{ "/assets/fontawesome/js/fontawesome-all.min.js" | relative_url }}" ></script>
  <script defer src="{{ "/assets/javascript/toggleMenu.js" | relative_url }}" ></script>
  
	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
		  tex2jax: {
			inlineMath: [['$','$'], ['\\(','\\)']],
			processEscapes: true
		  }
		});
	</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
		
</head>
