---
layout: default
---

<div class="l-wrap">
  {% assign items = site.categories.PDF %}
  {% for item in items %}
	
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></h1>

      <div class="entry">
        {{ item.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ item.url }}">Read More</a>
    </article>
    <hr class="hr-separator">
  {% endfor %}
  
  <script type="text/x-mathjax-config">
	MathJax.Hub.Config({
	  tex2jax: {
		inlineMath: [['$','$'], ['\\(','\\)']],
		processEscapes: true
	  }
	});
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
</div>

{% include footer.html %}