---
layout: default
---

<div class="l-wrap">
  {% assign grouped = site.posts | group_by: 'category' %}
  {% for post in grouped %}
		<article class="post {% if post.name == 'signal_process' %}current{% endif %}">
		{% assign items = post.items | sort: 'order' %}
		{% for item in items %}
		  <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

		  <div class="entry">
			{{ post.excerpt }}
		  </div>

		  <a href="{{ site.baseurl }}{{ post.url }}">Read More</a>
		</article>
		<hr class="hr-separator">
		{% endfor %}
  {% endfor %}
</div>

{% include footer.html %}
